@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* スクロールバー非表示 */
  .scrollbar-hidden {
    /* IE・Edge*/
    -ms-overflow-style: none;
    /* Firefox*/
    scrollbar-width: none;
  }

  /* Chrome・Safari */
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .clip-path-circle {
    clip-path: circle(50%);
  }
}

/* スクロールバーカスタマイズ */
/* TODO: コンテンツとスクロールバーの境界線を設定できないため、一旦オフ。 */
/* .scrollbar::-webkit-scrollbar { */
/* ::-webkit-scrollbar {
  @apply w-3;
} */

/* .scrollbar::-webkit-scrollbar-track { */
::-webkit-scrollbar-track {
  @apply bg-white;
}

/* .scrollbar::-webkit-scrollbar-thumb { */
::-webkit-scrollbar-thumb {
  @apply bg-secondary rounded-full border-[3px] border-solid border-white;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-accent;
}

/* 選択範囲 */
/* ::selection {
  @apply bg-accent text-white;
} */
